@import "tailwindcss";

@plugin "daisyui";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
/* 1. Global Scrollbar (Chrome/Edge/Safari) */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  border: 7px solid #292c3b;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: #ea580c;
}

::-webkit-scrollbar-thumb {
  background: #ea580c;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b3f1b;
}

/* 2. Global Scrollbar (Firefox) */
html {
  scrollbar-color: #ea580c #6b3f1b;
}

/* 3. Hidden Scrollbar Utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
